DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_test_guild_id_here

# Spotify Support (LavaSrc)
SPOTIFY_CLIENT_ID=your_spotify_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_secret_here

# Lavalink Connection
LAVALINK_PASSWORD=youshallnotpass

# Database Connection
POSTGRES_PASSWORD=youshallnotpass
POSTGRES_URL=postgresql://virusmusic:youshallnotpass@127.0.0.1:5432/virusmusic

# Redis Connection
REDIS_URL=redis://127.0.0.1:6379
